@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


/*
    Website built by Aryan Raj Sinha
    mail - arajsinha.ars@gmail.com
    ig - @aryan_be_the_player
    This website is the property of Subtle Pixels Inc.
*/


/*basic styling*/

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #fff !important;
}

body{
    overflow: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar
{
    display: none;
}

.whitespace
{
    width: 100%;
    height: 100px;
}

/*navigation*/

nav
{
    width: 100%;
    background: #0f0f0f;
    height: 80px;
    position: fixed;
    z-index: 1;
    text-decoration: none;
}

nav #brand
{
    float: left;
    display: block;
    margin-top: -7%;
    font-size: 20px;
    margin-left: -30px;
    line-height: 80px;
    font-weight: bold;
}

nav #brand a{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

nav #brand a:hover 
{
    text-decoration: none;
}

nav #menu
{
    float: left;
    right: 25px;
    position: fixed;
    margin-top: 20px;
}

nav #menu li
{
    padding-left: 25px;
    margin-top: -20px;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    line-height: 80px;
    position: relative;
    transition: all 0.5s ease-out;
}

nav #menu li span
{
    font-weight: 700;
}

nav #menu li a
{
    color: #fff;
    text-decoration: none;
}

nav #menu li a:hover
{
    text-decoration: none;
    cursor: pointer;
}

#toggle
{
    position: absolute;
    right: 30px;
    top: 15px;
    font-weight: 300;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.close-btn
{
    position: absolute;
    right: 16px;
    font-weight: 300;
    z-index: 2;
    cursor: pointer;
    top: -2px;
    line-height: 80px;
}

#resize
{
    z-index: 1;
    top: 0px;
    position: fixed;
    background: black;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}

#resize #menu
{
    height: 90px;
    position: absolute;
    left: 45%;
    transform: translateX(-40%);
    text-align: center;
    display: table-cell;
    vertical-align: center;
}

#resize #menu li{
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#resize li :nth-child(1)
{
    margin-top: 140px;
}

#resize #menu li a {
    color: white;
}

#resize #menu li a:hover
{
    text-decoration: none;
    cursor: crosshair;
}

#resize.active 
{
    visibility: visible;
    opacity: 1;
}



/*hero section*/

.hero
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*hero content*/
.hero-content
{
    margin-left: -5%;
    width: 100%;
    margin-bottom: 15%;
}

.hero-content h3
{
    font-size: 300px;
    line-height: 350px;
    margin-top: 100px;
}

.hero-content p{
    font-weight: 300;
    line-height: 36px;
    color: grey;
}


.img1
{
    margin-top: -5%;
    z-index: 0;
    width: 50%;
}

.aboutus p
{
    width: 20%;
    float: right;
    margin-right: 400px;
    font-size: 30px;
    text-align: start;
    margin-top: 0%;
    z-index: 1;
}


/*skills section*/

.containerskills
{
    top: 20%;
}

.skills
{
    width: 50%;
    float: left;
    height: 450px;
}

.skills h6
{
    
    font-weight: lighter;
    font-size: 20px;
    margin-left: 83%;
}

.skills ul
{
    margin-left: 50%;
}

.skills ul li
{
    list-style: none;
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
    text-align: end;
}

.mission
{
    display: inline-block;
    width: 50%;
    height: 450px;
    text-align: center;
}

.mission h6
{
    font-weight: lighter;
    font-size: 20px;
    margin-right: 65%;
}

.mission p{
    width: 60%;
    text-align: start;
    margin-left: 10% ;
    margin-right: 30%;
    margin-top: 0%;
    font-weight: 400;
    font-size: 18px;
}

.container1
{
    align-items: center;
}



.img2
{
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 1%;
    margin-bottom: 40%;
}


.lighttext
{
    visibility: hidden;
    color: rgba(255,255,255,0.12);
    width: 60%;
    font-size: 70px;
    margin-top: -107%;
    margin-left: 50%;
    text-align: start;
}

.lighttext h3
{
    font-size: 70px;
}



.information
{
    width: 15%;
    font-size: 15px;
    font-weight: normal;
    margin-top: -35%;
    margin-left: 50%;
    text-align: start;
    margin-bottom: 20%;

}

/*footer*/

.collab
{
    text-align: right;
}

.collab p
{
    font-weight: lighter !important;
    margin-bottom: 10px;
    margin-right: 50px;
}

.hr
{
    background: rgba(255,255,255,0.2);
    height: 1px;
    margin-left: 50px;
    margin-right: 50px;
}

.info h4
{
    font-size: 18px;
    font-weight: lighter;
}

.info p{
    color: gray;
    font-weight: lighter;
}

.info li
{
    font-weight: lighter;
    color: white;
    font-size: 18px;
    padding-left: 20px;
}

#fb::before
{
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #3b5998;
}

#ig::before
{
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #fcaf45;
}

#in::before
{
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #55acee;
}

#yt::before
{
    display: inline-block;
    content: '';
    border-radius: 100%;
    height: 4px;
    width: 4px;
    margin-right: 6px;
    background: #c4302b;
}

#media, #address
{
    text-align: right;
}

#media ul
{
    list-style: none;
}

#media ul li
{
    display: inline-block;
}




/**********************************************Responsiveness**************************************************/

/**basic styling**/

@media(max-width: 768px)
{
    .whitespace
    {
        display: none;
    }
}

/*nav*/

@media(max-width: 768px)
{
    

    nav #brand
    {
        margin-left: -3%;
        margin-top: -11%;
    }

    nav #brand a
    {
        font-size: 16px;
    }

    #menu a
    {
        font-size: 15px;
        font-weight: 300;
        text-decoration: none;
    }

    #menu
    {
        margin-top: -6%;
        position: fixed;
        left: 30%;
    }

    #resize li span
    {
        font-weight: bolder;
    }

    nav #menu
    {
        display: visible;
    }
}

@media(min-width:768px)
{
    #resize
    {
        visibility: hidden !important;
    }
}

@media(max-width: 414px)
{
    #toggle
    {
        visibility: visible;
        opacity: 1;
        margin-top: 5%;
        margin-right: 4px;
    }

    .close-btn
    {
        margin-top: 6px;
        margin-right: 4px;
    }

    nav #brand
    {
        margin-left: -5%;
        margin-top: -18%;
    }

    nav #brand a
    {
        font-size: 16px;
    }

    #menu a
    {
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
    }

    #menu
    {
        margin-top: 10px;
    }

    #resize li span
    {
        font-weight: bolder;
    }

    nav #menu
    {
        display: none;
    }
}

@media(max-width: 375px)
{
    #toggle
    {
        visibility: visible;
        opacity: 1;
        margin-top: 5%;
    }

    .close-btn
    {
        margin-top: 6px;
        margin-right: 4px;
    }

    nav #brand
    {
        margin-left: -5%;
        margin-top: -21%;
    }

    nav #brand a
    {
        font-size: 16px;
    }

    #menu a
    {
        font-size: 30px;
        font-weight: 300;
        text-decoration: none;
    }

    #menu
    {
        margin-top: 10px;
    }

    #resize li span
    {
        font-weight: bolder;
    }

    nav #menu
    {
        display: none;
    }
}

/*hero content*/

@media(max-width:768px)
{
    .hero-content h3
    {
        zoom: 0.5;
    }

    .img1
    {
        margin-top: -15%;
        z-index: 0;
        width: 20%;
        margin-left: 12.5%;
    }

    .aboutus p
    {
        width: 50%;
        margin-right: 25%;
        font-size: 20px;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 10%;
        z-index: 1;
    }   
}

@media(max-width:414px)
{
    .hero-content h3
    {
        font-size: 190px;
        line-height: 100%;
        margin-left: 5%;
    }

    .img1
    {
        width: 90% !important;
        margin-top: -15%;
        z-index: 0;
        width: 20%;
        margin-left: 8%;
        zoom: 0.7;
        margin-bottom: -20%;
    }

    .aboutus p
    {
        width: 50%;
        margin-right: 25%;
        font-size: 20px;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 10%;
        z-index: 1;
    }   
}

@media(max-width:375px)
{
    .hero-content h3
    {
        font-size: 170px;
        line-height: 100%;
        margin-left: 5%;
    }

    .img1
    {
        width: 90% !important;
        margin-top: -15%;
        z-index: 0;
        width: 20%;
        margin-left: 7%;
        zoom: 0.65;
        margin-bottom: -20%;
    }

    .aboutus p
    {
        width: 50%;
        margin-right: 25%;
        font-size: 18px;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 10%;
        z-index: 1;
    }   
}


/*Skills*/

@media(max-width:768px)
{
     .mission p
    {
        width: 80%;
        text-align: left;
        margin-left: 10% ;
        margin-top: 5%;
        font-weight: 400;
        font-size: 11px;
    } 
    
    .skills h6
    {
        margin-left: 50%;
    }
    
    .mission h6
    {
        margin-right: 38%;
    }

    .skills ul li
    {
        list-style: none;
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .skills ul
    {
        margin-left: 2.5%;
        margin-right: 7%;
    }

    .img2
    {
        margin: 10% 15% 15% 15%;
        zoom: 0.7;
    }

    .lighttext
    {
        visibility: visible;
        color: white;
        margin: 20%;
        margin-top: 0;
        text-align: center;
    }

    .lighttext h3
    {
        font-size: 20px;
    }

    .information
    {
        margin: 25% 15% 15% 25%;
        width: 50%;
        text-align: center;
        
    }
}

@media(max-width:375px)
{
     .mission p
    {
        width: 80%;
        text-align: left;
        margin-left: 10% ;
        margin-top: 5%;
        font-weight: 400;
        font-size: 11px;
    } 
    
    .skills h6
    {
        margin-left: 43%;
    }
    
    .mission h6
    {
        margin-right: 38%;
    }

    .skills ul li
    {
        list-style: none;
        margin-top: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .skills ul
    {
        margin-left: 2.5%;
        margin-right: 7%;
    }

    .img2
    {
        margin: 10% 15% 15% 15%;
        zoom: 0.7;
    }

    .lighttext
    {
        color: white;
        margin: 20%;
        margin-top: 0;
        text-align: center;
    }

    .lighttext h3
    {
        font-size: 20px;
    }

    .information
    {
        margin: 25% 15% 15% 25%;
        width: 50%;
        text-align: center;
        
    }
}

/*footer*/

@media(max-width:768px)
{
    #personal, #address, #media p
    {
        text-align: center;
    }

    .collab
    {
        margin-right: -1%;
        margin-top: 10%;
    }

    #media ul
    {
        margin-right: 30%;
    }
}

@media(max-width: 414px)
{
    #personal, #address, #media p
    {
        text-align: center;
    }

    .collab
    {
        margin-left: 15%;
        margin-top: 10%;
        text-align: center;
    }

    #media ul
    {
        text-align: center;
        margin-left: 10%;
    }
}












/*
    Website built by Aryan Raj Sinha
    mail - arajsinha.ars@gmail.com
    ig - @aryan_be_the_player
    This website is the property of Subtle Pixels Inc.
*/